# 单 Web 控制台部署
# 镜像说明: https://hub.docker.com/r/majosissi/easytier-web
services:
  easytier-web:
    # majosissi/easytier-web:latest 最新发布正式版
    # majosissi/easytier-web:pre 最新 Action 构建版 (合并主线的版本, 自动更新, 稳定性不保证)
    image: majosissi/easytier-web:latest
    container_name: easytier-web
    restart: always
    network_mode: bridge
    ports:
      - 11211:11211
      - 22020:22020
    environment:
      # 时区
      - TZ=Asia/Shanghai
      # Web 前端默认连接的后端 API HOST
      # 默认: http://127.0.0.1:11211
      - WEB_DEFAULT_API_HOST=http://修改为你的主机:11211
      # Web 前端访问端口
      # 默认: 11211
      - WEB_PORT=11211
      # Web 后端 API 监听端口; 可与前端复用
      # 默认: 11211
      - WEB_API_PORT=11211
      # Web 管理服务 (RPC) 监听端口, Core 将通过此端口连接
      # 默认: 22020
      - WEB_SERVER_PORT=22020
      # Web 管理服务 (RPC) 协议, 可与其他节点的 -w 参数保持一致
      # 默认: udp, 可选: [udp | tcp | ws],
      - WEB_SERVER_PROTOCOL=udp
      # Web 服务日志级别 
      # 默认: warn, 可选: [off | error | warn | info | debug | trace] 
      - WEB_LOG_LEVEL=warn
      # Web 数据目录, 存放 (数据库/日志/机器码)
      # 默认: /web
      - WEB_DATA_DIR=/web
    volumes:
      - ./web:/web
